$types: (
    normal: (
        #a8a77ab9,
        #a8a77a,
    ),
    fighting: (
        #c22e28b9,
        #c22e28,
    ),
    flying: (
        #a98ff3b9,
        #a98ff3,
    ),
    poison: (
        #a33ea1b9,
        #a33ea1,
    ),
    ground: (
        #e2bf65b9,
        #e2bf65,
    ),
    rock: (
        #b6a136b9,
        #b6a136,
    ),
    bug: (
        #a6b91ab9,
        #a6b91a,
    ),
    ghost: (
        #735797b9,
        #735797,
    ),
    steel: (
        #b7b7ceb9,
        #b7b7ce,
    ),
    fire: (
        #ee8130b9,
        #ee8130,
    ),
    water: (
        #6390f0b9,
        #6390f0,
    ),
    grass: (
        #79c74cb9,
        #7ac74c,
    ),
    electric: (
        #f7d02cb9,
        #f7d02c,
    ),
    psychic: (
        #f95587b9,
        #f95587,
    ),
    ice: (
        #96d9d6b9,
        #96d9d6,
    ),
    dragon: (
        #6f35fcb9,
        #6f35fc,
    ),
    dark: (
        #705746b9,
        #705746,
    ),
    fairy: (
        #d685adb9,
        #d685ad,
    ),
    unknown: (
        #7568a0b9,
        #7568a0,
    ),
    shadow: (
        #68a090b9,
        #68a090,
    ),
);

@each $type, $colors in $types {
    .type-#{$type} {
        &.body {
            background-color: nth($colors, 1);
        }
        &.name {
            background-color: nth($colors, 2);
        }
    }
}

.container {
    background-color: #fdfbf6;
}

.cards {
    .title-name {
        font-size: 1.5rem;
        font-weight: bold;
        color: white;
        border-radius: 0.5rem;
    }

    .type-badges {
        border-radius: 0.5rem;
        text-align: center;
        padding: 0.1rem;
        min-width: none;
        max-width: 100px;
        width: 100%;
    }

    .type-name {
        font-size: 0.8rem;
        font-weight: normal;
        color: white;
        text-align: center;
        padding: 0.2rem;
        border-radius: 0.5rem;
    }

    .background-image {
        background-image: url('../../../../assets/img/pokeball.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 120px;
        width: 120px;
        position: relative;
        z-index: 1;

        .img-pokemon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 75%;
            width: 75%;
        }
    }
}

@media screen and (max-width: 576px) {
    .cards {
        .background-image {
            height: 100px;
            width: 100px;
        }
    }
}
